@import 'colors';

.playthrough {
  display: block;
  width: 100%;
  border: 1px solid $medium-green;
  color: #fff;
  background-color: $medium-green;
  padding: 5px 12px 20px 12px;
  position: relative;

  .delete-playthrough {
    color: #fff;
    position: absolute;
    bottom: 19px;
    right: 12px;
    font-size: 18px;

    .tooltip {
      left: -30px;  
      opacity: 0;
      transition: opacity .25s ease-in-out;
    }

    &:hover {
      .tooltip { 
        display: block;
        opacity: 1;
        transition: opacity .25s ease-in-out;
      }
    }
  }
}

.new-playthrough {
  display: block;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $medium-green;
  color: $medium-green;
  font-size: 18px;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $medium-green;
    color: #fff;
  }
}

.new-playthrough-form {
  background: $medium-green;
  color: #fff;
  padding: 3px 12px 14px 12px;
  position: relative;
  
  h3 {
    font-size: 18px;
    margin-top: 15px;
  }

  input[type=text] {
    background: $medium-green;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    width: 100%;

    &::-webkit-input-placeholder { color: #fff; opacity: .6; }
    &::-moz-placeholder { color: #fff; opacity: .6; }
    &:-ms-input-placeholder { color: #fff; opacity: .6; }
  }

  .cancel-playthrough {
    color: #fff;
    position: absolute;
    top: 18px;
    right: 12px;
    font-size: 16px;
  }
}

.delete-playthrough-form {
  background: $red;
  color: #fff;
  padding: 12px;

  input[type=text] {
    width: 100%;
    padding: 10px;

    &.invalid {
      color: $red;
    }

    &.valid {
      color: $medium-green;
    }
  }

  .playthrough-name-input {
    position: relative;

    .glyphicon {
      position: absolute;
      top: 16px;
      right: 5px;
      font-size: 16px;

      &.valid { color: $medium-green; }
      &.invalid { color: $red; }
    }
  }
}