@import 'colors';

.playthrough-manager {
  margin-top: 40px;
  padding: 0 10px;

  .playthrough-heading {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;

    span {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 10px 3px;
    }
  }
}

.playthrough {
  display: block;
  width: 100%;
  border: 1px solid #fff;
  color: #fff;  
  padding: 5px 12px 20px 12px;
  position: relative;

  a {
    color: #fff;
  }

  .delete-playthrough {
    color: #fff;
    position: absolute;
    bottom: 19px;
    right: 12px;
    font-size: 18px;

    .tooltip {
      left: -30px;  
      opacity: 0;
      transition: opacity .25s ease-in-out;
    }

    &:hover {
      .tooltip { 
        display: block;
        opacity: 1;
        transition: opacity .25s ease-in-out;
      }
    }
  }
}

.new-playthrough {
  display: block;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  
  &:hover,
  &:focus {
    text-decoration: none;
    border-color: $medium-green;
    color: $medium-green;
  }
}

.new-playthrough-form {
  color: #fff;
  padding: 3px 12px 17px 12px;
  position: relative;
  border: 2px solid $medium-green;
  
  h3 {
    font-size: 18px;
    margin-top: 15px;
    font-weight: normal;
  }

  input[type=text] {
    background-color: $grey;
    color: #fff;
    border: 2px solid $medium-green;
    padding: 10px;
    width: 100%;

    &::-webkit-input-placeholder { color: #fff; opacity: .6; }
    &::-moz-placeholder { color: #fff; opacity: .6; }
    &:-ms-input-placeholder { color: #fff; opacity: .6; }
  }

  .cancel-playthrough {
    color: #fff;
    position: absolute;
    top: 18px;
    right: 12px;
    font-size: 16px;
  }
}

.delete-playthrough-form {
  color: #fff;
  padding: 12px 12px 15px;
  position: relative;
  border: 2px solid $red;

  .lead { color: #fff;  }

  input[type=text] {
    width: 100%;
    padding: 10px;
    background-color: $grey;
    border: 2px solid $red;

    &.invalid {
      color: $red;
    }

    &.valid {
      color: $medium-green;
    }
  }

  .playthrough-name-input {
    position: relative;

    .glyphicon {
      position: absolute;
      top: 16px;
      right: 5px;
      font-size: 16px;

      &.valid { color: $medium-green; }
      &.invalid { color: $red; }
    }
  }

  .cancel-delete {
    color: #fff;
    position: absolute;
    top: 18px;
    right: 12px;
    font-size: 18px;
  }
}

.playthrough-progress {

}

.playthrough-header {
  color: #fff;
  padding: 0 15px;
  margin-bottom: 20px;
  
  .last-updated { font-size: 16px; }

  .playthrough-overview { padding: 10px 10px; }
}