@import 'colors';

.playthrough {
  display: block;
  width: 100%;
  border: 1px solid $medium-green;
  color: #fff;
  background-color: $medium-green;
  padding: 5px 12px 20px 12px;
}

.new-playthrough {
  display: block;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $medium-green;
  color: $medium-green;
  font-size: 18px;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $medium-green;
    color: #fff;
  }
}

.new-playthrough-form {
  background: $medium-green;
  color: #fff;
  padding: 3px 12px 14px 12px;
  
  h3 {
    font-size: 18px;
    margin-top: 15px;
  }

  input[type=text] {
    background: $medium-green;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    width: 100%;

    &::-webkit-input-placeholder { color: #fff; }
    &::-moz-placeholder { color: #fff; opacity: 1; }
    &:-ms-input-placeholder { color: #fff; }
  }
}