@import 'colors';

.progress-overview {
  .collectable {
    border: 1px solid $medium-green;
    background-color: #fff;
    min-height: 161px;

    .collectable-name {
      padding: 7px;
      font-size: 16px;
      text-transform: uppercase;
      background-color: $medium-green;
      letter-spacing: 2px;
      font-weight: 300;
      color: #fff;      
    }

    .collectable-progress {
      list-style: none;
      margin: 0;
      padding: 7px;
      font-size: 16px;

      li {
        margin-bottom: 7px;

        &:last-child { margin-bottom: 0; }

        .glyphicon {
          color: $medium-green;
          top: 2px;
          display: inline-block;

          &.glyphicon-remove { color: $red; }
        }

        span { margin-right: 7px; }
      }      
    }
  }
}

.collectable-selector {
   list-style: none;
   margin-bottom: 0;
   padding-left: 0;

   :first-child > .collectable-glance::before {
    border-top: 1px solid #111;
    content: '';
    position: relative;
    display: block;
    width: 113%;
    top: -17px;
    left: -15px;
   }

   :last-child > .collectable-glance::after {
     width: 113%;
     display: block;
     content: '';
     position: relative;
     left: -15px;
     top: 17px;
     border-bottom: 1px solid #777;
   }

    .collectable-glance {
      color: #fff;
      padding: 15px;
      border-bottom: 1px solid #111;
      border-top: 1px solid #777;
      

      .glance-name { font-size: 16px; }

      .percentage {
        display: block;
        font-size: 24px;
      }

      .glance-completion-label {
        font-size: 12px;
      }
    }
  }