@import 'colors';

.title-metadata {
  .title-info {
    border: 1px $medium-green solid;
    padding: 15px 12px 20px 12px;
    margin-bottom: 20px;
    background: #fff;

    .row { display: table; }
    [class*="col-"] {
      float: none;
      display: table-cell;
      vertical-align: middle;
    }

    h1 {
      font-size: 46px;
      color: $grey;
    }

    aside {
      font-size: 18px;
    }
  }

  .title-collectables {
    border: 1px $medium-green solid;
    padding: 15px 12px 20px 12px;
    margin-bottom: 20px;
    background: #fff;
    font-size: 16px;
  }
}