@import 'spacing';
@import 'common';
@import 'title';
@import 'title-list';
@import 'colors';
@import 'playthrough';
@import 'progress';

.navbar-brand > img { display: inline-block; }

img { max-width: 100%; }

body { background-color: #f7f7f7; }

#progress-overview[data-columns]::before {
  content: '2 .col-sm-12 col-md-6';
}
