@import 'spacing';
@import 'common';
@import 'title';
@import 'title-list';
@import 'colors';
@import 'playthrough';
@import 'progress';

.navbar-brand > img { display: inline-block; }

img { max-width: 100%; }

body { background-color: #f7f7f7; }